/* file: index.css */

body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

fieldset {
    margin-right: 1em;
}

input[type=submit] {
    margin: 1.5em;
}

.hidden {
    display: none;
}
