/* file: index.css */

body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

fieldset {
    margin-right: 1em;
    margin-bottom: 1em;
}

input[type=submit] {
    margin: 1.5em;
}

.hidden {
    display: none;
}

#histogram {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1000;
}
